.immagine1{

height: 25px;
width: 25px;


}
.immagine2{
    height: 800px;
}


.immagine3{

    height: 250px;

}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');